<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/base.css">
  <title>Book App</title>
</head>

<body>
  <header>
    <%- include('../partial/nav') %>
  </header>
  <h1>Best Books</h1>
  <h2>Search Results</h2>
  <main>
    <!-- <div>
      <% books.forEach (book => { %> 
    </div>
    <section>
    <div>
      <%= book.image %> 
    </div>
    <div id="title">
      <%= book.title %> 
    </div>    
    <div id="author">
      Author Name: <%= book.author %> 
    </div>
    <div>
      Description: <%= book.description %> 
    </div>
      <% }); %>
    </div>
  </section>
  </main>
  <footer>&copy; 2020 Natalie Sinner and Bhagirath Bhatt</footer>
</body>

</html> -->


<ul>
  <% books.forEach( book => { %>
    <li>
      <div class="book">
<!--   creating the info to populate to the list of books found in search         -->
        <img class="image" src="<%= book.image_url %>" alt="<%= book.title %>"/>
        <p class="title">Title:    <%= book.title %></p>
        <p class="authors">Authors:    <%= book.authors %></p>
        <p class="isbn">ISBN: <%= book.isbn %></p>
        <p>Description:    <%= book.description %></p> 
<!--   creating the form that will get sent to the details page         -->
        <form method="post" action="/books/detail">
          <input type="hidden" name="image_url" value="<%= book.image_url %>">
          <input type="hidden" name="title" value="<%= book.title %>">
          <input type="hidden" name="authors" value="<%= book.authors %>">
          <input type="hidden name="authors" value="<%= book.isbn %>">
          <input type="hidden" name="description" value="<%= book.description %>">
          <button class="button" type="submit">Add to your bookshelf</button>
        </form>
      </div>
    </li>
  <% }) %>
</ul>
</main>
</body>
</html>