<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../partial/head') %>
  <title>Book App</title>
</head>

<body>
  <header>
    <%- include('../partial/nav') %>
  </header>

  <main>
      <ul>
        <li id="bookInfo">
          <img src="<%= book.image_url %>">
          <%= book.title %>
          <%= book.author %>
          <%= book.isbn %>
          <%= book.description %>
          <%= book.bookshelf %>
          <%= book.listPrice %>
        </li>

          <button id="update">Update</button>

          <form id="update-task-form"  method="post" action="/update-book/<%= book.id %>?_method=put">
              <input class="update" name="image" value= "<%= book.image_url %>" /><br>
              <input class="update" name="title" value= "<%= book.title %>" /><br>
              <input class="update" name="author" value= "<%= book.author %>" /><br>
              <input class="update" name="isbn" value= "<%= book.isbn %>" /><br>
              <textarea id="descript" class="update" name="description" ><%= book.description %></textarea><br>
              
              <%- include('../partial/dropdown') %>
            
            <button type="submit">Update</button>      
          </form>

          <form action="/delete/<%= book.id %>?_method=delete" method="post">
            <button type="submit" id="delete">Delete Book</button>
          </form>

      </ul>
  </main>

  <footer>&copy; 2020 Natalie Sinner and Bhagirath Bhatt</footer>
</body>

</html>